<!-- 
  <h3>
      Create New Employee
    </h3>
    
    <form (ngSubmit)="createEmployee()">
      <div class="form-group">
        <label for="empNo">Emp No</label>
        <input type="text" class="form-control" 
            id="empNo" name="empNo" placeholder="Enter Emp No"
            [(ngModel)]="employee.empNo">
      </div>
    
      <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" 
              id="firstName" name="firstName" 
              placeholder="Enter First Name"
              [(ngModel)]="employee.firstName">
      </div>
    
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" 
            id="lastName" name="lastName" 
            placeholder="Enter Last Name"
            [(ngModel)]="employee.lastName">
      </div>
    
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" 
            id="city" name="city" placeholder="City"
            [(ngModel)]="employee.city">
      </div>
    
      <input type="submit" class="btn btn-primary" />
    </form> -->

    <mat-card>
      <form (ngSubmit)="createEmployee()" [formGroup]="createForm">
        <mat-card-title>
          Create a new Employee
        </mat-card-title>

        <mat-card-content>
          <mat-form-field>
              <input matInput
                type="text" name="empNo" 
                placeholder="Enter Emp No" 
                formControlName="empNo">
          </mat-form-field>
          <br />

          <mat-form-field>
              <input matInput
                type="text" name="firstName" 
                placeholder="Enter First Name"
                formControlName="firstName">
          </mat-form-field>
          <br>
          <span *ngIf="formErrors.firstName" >
              {{ formErrors.firstName }}
            </span>
          <br />

          <mat-form-field>
              <input matInput
                type="text" name="lastName" 
                placeholder="Enter Last Name"
                formControlName="lastName">
          </mat-form-field>
          <br>
          <span *ngIf="formErrors.lastName" >
              {{ formErrors.lastName }}
            </span>
          <br />

          <mat-form-field>
              <input matInput
                type="text" name="city" 
                placeholder="Enter City"
                formControlName="city">
          </mat-form-field>
          <br/>
          <span *ngIf="formErrors.city" >
              {{ formErrors.city }}
            </span>

          <mat-card-actions>
            <button mat-raised-button color="accent" [disabled]="!isFormValid">
              <mat-icon>save</mat-icon>
              Save
            </button>
          </mat-card-actions>

        </mat-card-content>
      </form>
    </mat-card>