<h3>
  List of Employees
</h3>

<p-table [columns]="cols" [value]="employees" 
      selectionMode="single" [(selection)]="selectedEmployee" 
      [paginator]="true" [rows]="5">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    
</p-table>


<div>
  <div>
    <app-emp-create (empCreated)="onEmployeeCreated($event)">
      
    </app-emp-create>
  </div>

  <div>
    <app-emp-details [employee]="selectedEmployee" >

    </app-emp-details>
  </div>
 
</div>
