<h3>
  List of Employees
</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Emp No</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>City</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <td>{{ emp.id }} </td>
      <td>{{ emp.empNo }} </td>
      <td>{{ emp.firstName }} </td>
      <td>{{ emp.lastName }} </td>
      <td>{{ emp.city }} </td>
      <td>
        <input type="submit" value="Show Details" 
          class="btn btn-info" (click)="showEmpDetails($event, emp)" />
      </td>
    </tr>
  </tbody>
</table>

<!-- <p>Enter city</p>
<input type="text" [(ngModel)]="cityName" />

<input type="text" [value]="cityName" />

<input type="text" [value]="cityName" />

<input type="submit" value="Change City" 
        (click)="changeCity($event)" />

        {{ cityName }}
        {{ cityName }}
        {{ cityName }} -->

<div class="row">
  <div class="col-md-6">
    <app-emp-create (empCreated)="onEmployeeCreated($event)">
      
    </app-emp-create>
  </div>

  <div class="col-md-6">
    <app-emp-details [employee]="selectedEmployee" >

    </app-emp-details>
  </div>
 

</div>
