<mat-toolbar color="primary">
    <button mat-fab color="primary" (click)="sn.toggle()">
        <mat-icon>
            list
        </mat-icon>
    </button>
    <span>Limetools</span>
</mat-toolbar>

<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened="true" #sn>
        <mat-nav-list>
            <a mat-list-item routerLink="/"> Home </a>
            <a mat-list-item routerLink="/employees"> Employees </a>
            <a mat-list-item routerLink="/about"> About </a>
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
